@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.btnlogin {
    background: #E03F51;
}

.warmtalks-text {
    color: #484BA1;
}

blockquote {
    color: #333;
    font-style: italic;
    border-left: 4px solid #333;
    padding-left: 20px;
}

.section {
    color: #000;
    position: relative;
    padding-top: 120px;
    padding-left: 30px;
}

@media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.section1 {
    color: #000;
    /* #5C4033; */
}

.section-img-wrap {
    position: relative;
    right: 0px;
    top: -50px;
    width: 800px;
    height: auto;
    /*width: 200% udah max */
}

.section-img-wrap img {
    max-width: 100%;
    /* Membuat gambar responsif */
    height: auto;
    display: block;
    margin: 0 auto;
}



.img-wrap img {
    width: 100%; /* Full width of the container by default */
    max-width: 500px; /* Maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
    margin-right: 80px; margin-top: -100px; margin-left: -100px;
}

@media (max-width: 768px) {
    .img-wrap img {
        max-width: 300px; /* Adjust the maximum width for smaller screens */
        margin-right: 0; /* Adjust margins as needed */
        margin-left: 0; /* Adjust margins as needed */
    }
}

@media (max-width: 576px) {
    .img-wrap img {
        max-width: 100%; /* Full width of the container for very small screens */
        margin-right: 0; /* Adjust margins as needed */
        margin-left: 0; /* Adjust margins as needed */
    }
}

@media (max-width: 768px) {
    .section-img-wrap {
        max-width: 100%;
        height: auto;
        /* Mengatasi masalah overflow */
        display: block;
    }
}

.section2-section {
    padding: 7rem 0;
}

.section2-section .img-wrap {
    position: relative;
}

.section2-section .img-wrap:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    /* background-image: url("../images/yellow.svg"); */
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.section2-section .img-wrap img {
    border-radius: 20px;
}

.feature {
    margin-bottom: 30px;
}

.feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    width: 33px;
    height: 33px;
}

.feature h3 {
    font-size: 14px;
    color: #2f2f2f;
}

.feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a;
}

.imf-fluid {
    width: 33px;
    height: 33px;
}

.testimonial-section {
    padding: 3rem 0 7rem 0;
    /* background: #F4D3BA; */
    color: #642409;
    position: relative;
    top: 50%;
}

.testimonial-section .container .testimonial-block blockquote {
    font-size: 16px;
}

@media (min-width: 768px) {
    .testimonial-section .container .testimonial-block blockquote {
        line-height: 32px;
        font-size: 18px;
    }
}

.inner-container {
    color: #fff;
    position: relative;
    padding: 7rem 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
}

.inner {
    color: rgba(72, 75, 161, 1) !important;
    background: #484BA1 !important;
    padding-top: 40px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.images {
    margin-top: -50px;
}

@media (max-width: 834px) {
    .section {
        margin-left: 20px;
        margin-right: 50px;
    }
}

.image-grid {
    display: flex;
    justify-content: space-between;
}

.image-left,
.image-right {
    flex: 1;
    margin: 10px;
}

.image-left img,
.image-right img {
    width: 100%;
    height: auto;
}

.section .row .col-md-4,
.section .row .col-md-6 {
    padding-right: 10px;
}

.section .row .col-md-4 img,
.section .row .col-md-6 img {
    display: block;
    margin: 0 auto;
}

.section .container {
    padding-left: 15x;
    padding-right: 15px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.position-relative {
    position: relative;
}

.btn-home {
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  background-color: #484BA1;

}

.button-container {
    text-align: center;
}

.btn-read-more {
    padding: 7px 60px;
    border-radius: 30px;
    color: #E03F51;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 4px solid #F6CFD3; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn-read-more:hover {
    background-color: #FFFFFF; 
    color: #E03F51; 
    border-color: transparent; 
}

.section3-section {
    padding: 7rem 0;
}


.section3-section .img-wrap {
    position: relative;
}

.section3-section .img-wrap:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    /* background-image: url("../images/yellow.svg"); */
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.section3-section .img-wrap img {
    border-radius: 20px;
}

.section-title1 {
    font-family: "League Spartan", sans-serif;
    font-size: 24px; 
    color: #FFFFFF; 
}

.section-title2 {
    font-family: "League Spartan", sans-serif;
    font-size: 24px; 
    color: #F59C9E; 
}
